.color_white_slider {
  color: #aaa8a8;
}

a {
  margin: 0px;
  padding: 0px;
}
a:hover {
  color: rgba(73, 73, 73, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  color: #060a0f;
}

p {
  color: #494949;
}

.tSlow, .social li:hover i, .social li:hover, .social li i, .social li, .copyr a, .tumblr, .rombo_effect, .diamante, .rounded-circle, button, input,
select,
option,
textarea, nav ul li a::after, nav ul li a::before, nav ul li a, nav ul .link-active a::after, nav ul, nav .logo img, nav, a {
  transition: all 0.5s ease-in-out;
}

.pad_100 {
  padding: 100px 0px;
}

.center {
  text-align: center;
  margin: 0px auto;
}

.main-title {
  font-size: 60px;
  font-weight: bold;
  color: #060a0f;
}

nav {
  width: 100%;
  background-color: transparent;
  padding: 10px 0px;
  position: fixed;
  border-bottom: 1px solid transparent;
  z-index: 100;
}
nav:hover {
  background-color: white;
  padding: 25px 0px;
  border: 1px solid rgba(6, 10, 15, 0.1);
}
nav:hover .logo img {
  width: 80%;
}
nav:hover ul {
  margin-top: 8px;
}
nav:hover ul li a {
  color: rgba(73, 73, 73, 0.5);
}
nav .logo img {
  width: 100%;
}
nav ul {
  margin: 0px;
  padding: 0px;
  margin-top: 8px;
  text-align: right;
}
nav ul .link-active a {
  color: #060a0f !important;
}
nav ul .link-active a::after {
  width: 100%;
  background-color: #060a0f;
}
nav ul li {
  display: inline-block;
  padding: 0px 10px;
}
nav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 1px;
}
nav ul li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: 0%;
  background-color: transparent;
  height: 1px;
}
nav ul li a:hover {
  color: #060a0f;
}
nav ul li a:hover::before {
  width: 0%;
  background-color: #060a0f;
}
nav ul li a:hover::after {
  width: 100%;
  background-color: #060a0f;
}

input,
select,
option,
textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #060a0f;
  margin: 5px 0px;
  opacity: 0.5;
}
input:hover, input:focus,
select:hover,
select:focus,
option:hover,
option:focus,
textarea:hover,
textarea:focus {
  opacity: 1;
  color: #060a0f;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 250px;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  border-width: 1px;
  border-color: rgba(6, 10, 15, 0.8);
  padding: 10px 20px;
  margin: 5px 0px;
  color: #060a0f;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
  background-color: #060a0f;
  color: white;
}

.black {
  background-color: #060a0f;
  opacity: 1;
  color: white;
}
.black:hover {
  background-color: rgba(231, 136, 12, 0.6156862745);
  border: 1px solid rgba(231, 136, 12, 0.6156862745);
}

#slider {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  -o-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
}

#slippry {
  position: relative;
}
#slippry h1, #slippry h2, #slippry h3, #slippry h4, #slippry h5, #slippry h6, #slippry p, #slippry a, #slippry button {
  position: absolute;
}
#slippry p {
  width: 600px;
}
#slippry .width_400 {
  width: 420px;
}
#slippry .white_bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
}
#slippry .left {
  left: 200px;
}
#slippry .left_150 {
  left: 150px;
}
#slippry .right {
  right: 200px;
}
#slippry .top_125 {
  top: 125px;
}
#slippry .top_150 {
  top: 150px;
}
#slippry .top_200 {
  top: 200px;
}
#slippry .top_250 {
  top: 250px;
}
#slippry .top_300 {
  top: 300px;
}
#slippry .top_325 {
  top: 325px;
}
#slippry .top_375 {
  top: 375px;
}
#slippry .top_400 {
  top: 400px;
}

.rombo_effect, .diamante, .rounded-circle {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.rombo_effect:hover, .diamante:hover, .rounded-circle:hover {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  -o-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.servicio_img {
  width: 250px;
  height: 250px;
}

.diamante {
  display: block;
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
  margin: 0px auto;
  background-image: url("../images/square_01.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 50;
}

footer {
  margin-top: -60px;
  width: 100%;
  background-color: #060a0f;
  padding: 80px 0px;
  -webkit-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
  -o-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
}
footer p {
  margin: 0px;
  padding: 0px;
}
footer .white {
  color: rgba(255, 255, 255, 0.4);
}
footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
footer ul li {
  padding: 0px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.2);
}
footer a {
  opacity: 0.5;
  color: rgba(231, 136, 12, 0.6156862745);
}
footer hr {
  border-radius: 10px;
  opacity: 0.92;
}

.tumblr {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 20%;
  cursor: pointer;
  opacity: 0.6;
}
.tumblr:hover {
  opacity: 1;
}

.copyr {
  padding: 10px 0px;
  background-color: #070c13;
  text-align: left;
}
.copyr p, .copyr a {
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.3);
}
.copyr a {
  opacity: 0.5;
  color: rgba(231, 136, 12, 0.6156862745);
  text-decoration: none;
}
.copyr a:hover {
  opacity: 1;
}

.social {
  margin-top: 5px;
}
.social li {
  display: inline-block;
  position: relative;
  margin: 0px 7px;
  float: left;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  transform: rotate(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.social li i {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.2);
  transform: rotate(0deg) translate(-3px, 3px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.social li:hover {
  transform: rotate(45deg);
  background-color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.social li:hover i {
  font-size: 22px;
  color: #060a0f;
  transform: rotate(-45deg) translate(-3px, 3px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotate(-45deg) translate(-3px, 3px);
  backface-visibility: hidden;
}

.nav-overlay {
  background-color: white;
  border-bottom: 1px solid rgba(6, 10, 15, 0.1);
  padding: 25px 0px;
}
.nav-overlay .logo img {
  width: 80%;
}
.nav-overlay ul {
  margin-top: 8px;
}
.nav-overlay ul li a {
  color: rgba(73, 73, 73, 0.5);
}

.p_justify {
  text-align: justify;
}/*# sourceMappingURL=style.css.map */